<div style="text-align:center">
  <h1>Welcome to angular-day... of cats!</h1>
</div>

<div *ngIf="afAuth.user | async as user; else showLogin">
  <h1>Hello {{ user.displayName }}!</h1>
  <button (click)="logout()">Logout</button>
</div>
<ng-template #showLogin>
  <p>Please login.</p>
  <button (click)="login()">Login with Google</button>
</ng-template>

<router-outlet></router-outlet>
<angular-day-breed-list (selectedValue)="breed = $event"></angular-day-breed-list>
<angular-day-breed-grid [breed]="breed"></angular-day-breed-grid>
